{#{% extends 'blog/base.html' %}#}
{#{% load crispy_forms_filters %}#}
{#{% load crispy_forms_tags %}#}
{#{% block body %}#}
{#    <h3>Update post</h3>#}
{#    <form method="post">#}
{#    <div class="row">#}
{#       <div class="col-5">#}
{#           {% csrf_token %}#}
{#           {{ form|crispy }}#}
{#           <button class="btn btn-primary">update</button>#}
{#       </div>#}
{##}
{#    </div>#}
{##}
{#    </form>#}
{##}
{#{% endblock %}#}


{% extends 'blog/base.html' %}
{% block body %}
<div class="container">
    <h2>Edit Post</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ post.title }}">
        </div>
        <div class="form-group">
            <label for="content">Content:</label>
            <textarea class="form-control" id="content" name="content" rows="5">{{ post.content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
{% endblock %}
